<button class="btn btn-success" (click)="initNewSuperMarket()">Create Supermarket</button>

<table class="table table-hover">
  <thead>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let supermarket of superMarkets">
      <td>{{supermarket.id}}</td>
      <td>{{supermarket.name}}</td>
      <td><button class="btn btn-warning" (click)="editSupermarket(supermarket)">Edit</button></td>
    </tr>
  </tbody>
</table>


<app-edit-supermarkets [superMarkets]="superMarketToEdit" (superMarketUpdated)="updateSuperMarketList($event)">
</app-edit-supermarkets>